/* globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  background-color: rgba(232, 243, 246, 0.492);
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7em; /* Remove padding */
  background-color: #161616; /* Add a background color for the header */
  color: #fce8e8; /* Set text color */
  width: 100%; /* Make the header full width */
  height: 105px; /* Set a fixed height */
  box-shadow: 0 -10px 20px 10px rgba(255, 255, 255, 0.5);
  z-index: 2;
}

/* Navigation styles */
header ul {
  font-size: 17px;
  flex: 2; /* Allow the navigation to take the remaining space */
  list-style: none;
  display: flex;
  gap: 2.5em; /* Adjust the gap between navigation items */
}

header > div {
  flex: 1; /* Each direct child of header (logo, nav, cart) takes up equal space */
  display: flex; /* Make them flex containers */
  align-items: center; /* Center items vertically */
  height: 100%;
}

header img {
  max-width: 140px;
  flex-shrink: 0;
  height: auto;
}


header li::after {
  transition: background-color 0.5s ease-in-out, border-bottom 0.5s ease; /* Add a smooth transition effect */
}

/* Hover effect */
header li:hover::after {
  background-color: #ffffff; /* Darken the underline color on hover */
}

header li {
  margin-right: 1rem; /* Apply margin instead of @apply mr-4 */
  position: relative; /* Add relative positioning */
}

/* Hover effect */
header li:hover a {
  color: white; /* Darken the text color on hover */
  border-bottom: 2px solid #fff; /* Add underline effect on hover */
}

footer {
  background-color: rgb(106, 205, 111);
  color: white;
  display: flex;
  top: 100%;
  position: relative;
  padding: 0 10em; /* Remove padding */
  border-top-left-radius: 20px; /* Add rounded corners to the bottom left */
  border-top-right-radius: 20px; /* Add rounded corners to the bottom right */
}
