/* globals.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: rgba(232, 243, 246, 0.492);
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  font-family: Garamond, 'serif';
  justify-content: space-between;
  padding: 2rem 10rem; /* Adjust padding as needed */
  background-color: #161616; /* Add a background color for the header */
  color: #fce8e8; /* Set text color */
  border-bottom-left-radius: 0px; /* Add rounded corners to the bottom left */
  border-bottom-right-radius: 0px; /* Add rounded corners to the bottom right */
}

/* Logo styles */
header img {
  width: 50px; /* Set the width of the logo as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Navigation styles */
header ul {
  flex: 1; /* Allow the navigation to take the remaining space */
  list-style: none;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end; /* Align navigation items to the right */
  gap: 20px; /* Adjust the gap between navigation items */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
